.main-title {
  display: block;
  width: 260px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $color-black;
  text-align: center;
}

@media (min-width: $width-tablet) {
  .main-title {
    width: 520px;

    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $width-desktop) {
  .main-title {
    width: 620px;

    font-size: 53px;
    line-height: 57px;
  }
}
