.site-list {
  display: flex;
  flex-wrap: wrap;
  @include list-reset;

  &__item {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-top: 4px;
    margin-bottom: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;

    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: $color-white;
    text-decoration: none;
    transition: all 0.3s;

    &:hover,
    &:focus {
      color: rgba($color-white, 0.6);

      outline: none;
    }

    &:active {
      color: rgba($color-white, 0.3);
    }
  }

  @media (max-width: $width-only-mobile) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    background-color: $color-white;
    max-width: 300px;
    width: 100%;
    height: calc(100vh + 1px);
    padding: 50px 30px;
    transform: translate(100%, 0);
    transition: all 0.3s ease-in-out;

    .site-list__link {
      color: $color-black;
      font-weight: 400;
    }

    .site-list__item {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}
