$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$width-mobile: 360px;
$width-only-mobile: 767px;
$width-tablet: 768px;
$width-desktop: 1440px;

$main-color: #ffffff;
$main-title-color: #FF8B59;
$main-text-color: rgba(255, 255, 255, 0.8);
$text-color-footer: rgba(255, 255, 255, 0.5);
$main-bg-color: #040032;
$btn-color: #FF4C00;
$color-black: rgba(4, 0, 50, 0.8);
$color-white: #ffffff;
$color-green: #63d1bb;
$color-light-grey:#ececec;
